<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
    <link rel="stylesheet" href="/public/css/createPost.css" />
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>
    <title>Tạo bài viết mới</title>
  </head>
  <body>
    <div class="main">
      <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/post/home">NODEMY BLOG</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">
                  BÀI VIẾT <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">THÀNH VIÊN</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  THỂ LOẠI
                </a>
                <div
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <a class="dropdown-item" href="#">Âm nhạc </a>
                  <a class="dropdown-item" href="#">Thể thao</a>
                  <a class="dropdown-item" href="#">Điện ảnh</a>
                  <a class="dropdown-item" href="#">Đời sống</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <form
        enctype="multipart/form-data"
        action="http://localhost:3000/post/"
        method="POST"
      >
        <div>
          <div class="form-group" style="padding-left: 2%; padding-right: 2%">
            <label for="formGroupExampleInput">TITLE</label>
            <input
              name="title"
              type="text"
              class="form-control"
              placeholder="Tiêu đề bài viết"
            />
          </div>
        </div>
        <div
          class="form-group col-md-6"
          style="padding-left: 2%; padding-right: 2%"
        >
          <select
            name="category"
            id="category"
            class="browser-default custom-select"
          >
            <option selected>Thể loại bài viết</option>
            <% getCategory.map((item)=>{ %>
            <option value="<%= item.name %>"><%= item.name %></option>
            <% }) %>
          </select>
        </div>
        <div>
          <div
            class="form-group col-md-4"
            style="padding-left: 2%; padding-right: 2%"
          >
            <div class="input-group mb-3">
              <div name="upload" class="custom-file">
                <input
                  name="featuredImage"
                  type="file"
                  class="custom-file-input"
                  id="inputGroupFile01"
                />
                <label class="custom-file-label" for="inputGroupFile01"
                  >Chọn ảnh hiển thị cho bài viết</label
                >
              </div>
            </div>
          </div>
          <br />
          <div form-group col-md-4>
            <img
              name="featuredImage"
              id="featuredImage"
              src="<%= typeof file != 'undefined' ? file : '' %>"
              style="
                text-align: center;
                align-items: center;
                margin-left: 2%;
                margin-bottom: 2%;
                width: 10%;
                height: 10%;
              "
              alt="Image"
            />
          </div>
        </div>
        <div>
          <textarea
            style="padding-right: 2%; padding-left: 2%"
            name="content"
            id="ckeditor"
            cols="200%"
            rows="10"
          ></textarea>
        </div>
        <div>
          <button id="getData" type="submit" class="btn btn-light">
            Lưu bài viết
          </button>
        </div>
      </form>
    </div>
  </body>
  <script src="/public/js/myUpload.js"></script>
  <script>
    $("#getData").click(function () {
      alert("tạo bài viết thành công");
    });
    // config upload ảnh cho CKeditor
    let editor;
    ClassicEditor.create(document.querySelector("#ckeditor"), {
      extraPlugins: [MyCustomUploadAdapterPlugin],
    })
      .then((newEditor) => {
        editor = newEditor;
      })
      .catch((error) => {
        console.error(error);
      });
    // show ảnh hiển thị trên browser
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#featuredImage").attr("src", e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
    $("#inputGroupFile01").change(function () {
      readURL(this);
    });
  </script>
</html>
