<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NODEMY Blog</title>
	<link rel="stylesheet" href="/public/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/templatemo-xtra-blog.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/home.css">
<!--
    
https://templatemo.com/tm-553-xtra-blog

-->
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>            
                <h1 class="text-center">NODEMY BLOG</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item active"><a href="/post/home?page=1" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Trang chủ
                    </a></li>
                    <li class="tm-nav-item"><a href="/post/new" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Bài viết mới
                    </a></li>
                    <li class="tm-nav-item"><a href="about.html" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        Thành viên
                    </a></li>
                    <li class="tm-nav-item"><a href="contact.html" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Bài viết theo chủ đề
                    </a></li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>
            <p class="tm-mb-80 pr-5 text-white">
                Một sản phẩm của Đào Hoàng Hải - Template HTML được copy trên mạng =))
            </p>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <% if (getUser) { %>
                    <div class="col-1 avatar-user">
                        <div class="circular">
                          <img class="avatar-user" src="<%= getUser.avatar %>" alt="" />
                        </div>
                      </div>            
                    <div id="user-content" class="col-4">
                        <div>
                            <span>Xin chào <a href="#"><%= getUser.username %></a></span>
                        </div>
                        <div>
                            <div id="user-log-out"><span><a href="/auth/log-out">Log out</a></span></div>
                        </div>
                    </div>
                <% } else { %>
                    <div id="user-content" class="col-5">Xin chào bạn đọc, <a href="/sign-in">đăng nhập</a>/<a href="/sign-up">đăng kí</a> để viết bài và tương tác với các thành viên nhé! </div>
                <% } %>
                <div class="col-7">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input style="width: 70%" id="findInput" class="form-control tm-search-input" name="query" type="text" placeholder="Tìm kiếm..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>   
            <!-- // Các bài post -->         
            <div class="row tm-row">
                <% getPost.map((item)=>{ %>
                    <article class="col-12 col-md-6 tm-post">
                        <hr class="tm-hr-primary">
                        <a href="/post/<%= item._id %> " class="effect-lily tm-post-link tm-pt-60">
                            <div class="tm-post-link-inner">
                                <img src="<%= item.featuredImage %>" alt="Image" class="img-fluid">                            
                            </div>
                            <span class="position-absolute tm-new-badge">New</span>
                            <h2 class="tm-pt-30 tm-color-primary tm-post-title"><%= item.title %></h2>
                        </a>                    
                        <div class="d-flex justify-content-between tm-pt-45">
                            <span id="categoryPost" class="tm-color-primary"><%= item.category %></span>
                            <span data-id="<%= item._id %>" id="createDatePost" class="tm-color-primary"><%= formatDate(item.createdAt)  %> </span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>the number of comment in this post</span>
                            <span>By Hai Hoang</span>
                        </div>
                    </article>
                <% }) %>

            <!-- // pagination -->
            <div class="row col-12 tm-row tm-mt-100 tm-mb-75 pagination">
                <div class="tm-prev-next-wrapper">
                    <button id="prevBtn" onclick="getPrevious.call(this)" class="mb-2 tm-btn tm-btn-primary tm-prev-next tm-mr-20">Prev</button>
                    <button  data-num='<%= totalNav %>' id='nextBtn' onclick="getNext.call(this)"  class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</button>
                </div>
                <div class="tm-paging-wrapper">
                    <span class="d-inline-block mr-3">Page</span>
                    <% for (var i= 1; i <= totalNav; i++) { %>
                        <nav class="tm-paging-nav d-inline-block">
                            <ul>
                                <li data-id="<%= i%>" class="tm-paging-item">
                                    <a href="?page=<%= i %>"  class="mb-2 tm-btn tm-paging-link" style="
                                        margin-right: 8px"><%= i %></a>
                                </li>
                            </ul>
                        </nav>    
                    <% } %>
                </div>                
            </div>   
            <!-- //    Phần footer -->      
            <footer class="row col-12 tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2020 Xtra Blog Company Co. Ltd.
                </div>
            </footer>
        </main>
    </div>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/templatemo-script.js"></script>
    <script>
        // function get data and pass into ejs tag
        function getData () {
            $.ajax({
                url: '/post/home',
                data: {
                    page: parseInt($(this).text())   
                } ,
                method: 'GET'
            });
        }
        // for prev, next button
        function getNext () {
            let queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            let currentPageNumber = urlParams.get('page');
            let nextPageNumber = parseInt(currentPageNumber) + 1;
            let max = $('#nextBtn').data('num');
            if (queryString == ""){
                 window.location.href = 'http://localhost:3000/post/home?page=' + 2;
                return;
            }
            else if (currentPageNumber == max) {
                alert('Không còn bài viết để hiển thị');
                $('#nextBtn').addClass('disabled');
            } else {
                    window.location.href = 'http://localhost:3000/post/home?page=' + nextPageNumber;
              }
      }
      function getPrevious () {
            let queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            let currentPageNumber = urlParams.get('page')
            let previousPageNumber = parseInt(currentPageNumber) - 1;
            if (currentPageNumber == 1 || queryString == '') {
                alert('Không còn bài viết để hiển thị')
                $('#prevBtn').addClass('disabled');
            } else {
                window.location.href = 'http://localhost:3000/post/home?page=' + previousPageNumber;  
           }
      }
      // format date create post
    </script>
</body>
</html>