<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <title>THÔNG BÁO</title>
</head>
<body>
    <div class="card"
    style= "margin-right: 50px;
    margin-left: 50px;
    margin-top: 100px;
    background-color: beige
    ">
      <div class="card-body">
        <h5 class="card-title"><%= data.title %></h5>
        <p class="card-text"><%= data.content %></p>
        <a href="/sign-in" class="btn" style="background-color: #e8e4d7">Về trang đăng nhập</a>
      </div>
    </div>
</body>
<script src="/public/js/jquery.min.js"></script>
</html>