<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../public/img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../public/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../public/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/css/login-util.css">
	<link rel="stylesheet" type="text/css" href="../public/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-color: #6675df;">
			<div  class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form method="POST" enctype="application/x-www-form-urlencoded" action="/auth/sign-in" class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						ĐĂNG NHẬP
					</span>

					<a href="#" class="btn-face m-b-20">
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a>

					<a href="#" class="btn-google m-b-20">
						<img src="../public/img/icons/icon-google.png" alt="GOOGLE">
						Google
					</a>
					<% if (error) { %>
							<div class="alert alert-danger container-login100-form-btn m-t-17" role="alert">
								<%= error.msg %>
							</div>		
					<% } %> 
					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Tài khoản
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input id="username" class="input100" type="text" name="username" >
						<span class="focus-input100"></span>
					</div>
					
					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Mật khẩu
						</span>

						<a href="#" class="txt2 bo1 m-l-5">
							Quên mật khẩu?
						</a>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input id="password" class="input100" type="password" name="password" >
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button type="submit" class="login100-form-btn">
							Đăng nhập
						</button>
					</div>

					<div class="w-full text-center p-t-55">
						<span class="txt2">
							Chưa đăng kí thành viên?
						</span>

						<a href="/sign-up" class="txt2 bo1">
							Đăng ký ngay
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
/* 		function submitData () {
			$.ajax({
				url: '/user',
				method: 'GET',
				data: {
					username: $('#username').val(),
					password: $('#password').val()
				}
			})
		}
 */	</script>
<!--===============================================================================================-->
	<script src="../public/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../public/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../public/vendor/bootstrap/js/popper.js"></script>
	<script src="../public/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../public/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../public/vendor/daterangepicker/moment.min.js"></script>
	<script src="../public/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../public/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../public/js/main.js"></script>

</body>
</html>