<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NODEMY Blog</title>
    <link rel="stylesheet" href="/public/fontawesome/css/all.min.css" />
    <!-- https://fontawesome.com/ -->
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <!-- https://fonts.google.com/ -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/public/css/templatemo-xtra-blog.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/home.css" />
    <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>
    <!--
    
https://templatemo.com/tm-553-xtra-blog

-->
  </head>
  <body>
    <header class="tm-header" id="tm-header">
      <div class="tm-header-wrapper">
        <button
          class="navbar-toggler"
          type="button"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
          <div class="mb-3 mx-auto tm-site-logo">
            <i class="fas fa-times fa-2x"></i>
          </div>
          <h1 class="text-center">NODEMY BLOG</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">
          <ul>
            <li class="tm-nav-item active">
              <a href="/post/home" class="tm-nav-link">
                <i class="fas fa-home"></i>
                Trang chủ
              </a>
            </li>
            <li class="tm-nav-item">
              <a href="/post/new" class="tm-nav-link">
                <i class="fas fa-pen"></i>
                Bài viết mới
              </a>
            </li>
            <li class="tm-nav-item">
              <a href="about.html" class="tm-nav-link">
                <i class="fas fa-users"></i>
                Thành viên
              </a>
            </li>
            <li class="tm-nav-item">
              <a href="contact.html" class="tm-nav-link">
                <i class="far fa-comments"></i>
                Bài viết theo chủ đề
              </a>
            </li>
          </ul>
        </nav>
        <div class="tm-mb-65">
          <a
            rel="nofollow"
            href="https://fb.com/templatemo"
            class="tm-social-link"
          >
            <i class="fab fa-facebook tm-social-icon"></i>
          </a>
          <a href="https://twitter.com" class="tm-social-link">
            <i class="fab fa-twitter tm-social-icon"></i>
          </a>
          <a href="https://instagram.com" class="tm-social-link">
            <i class="fab fa-instagram tm-social-icon"></i>
          </a>
          <a href="https://linkedin.com" class="tm-social-link">
            <i class="fab fa-linkedin tm-social-icon"></i>
          </a>
        </div>
        <p class="tm-mb-80 pr-5 text-white">
          Một sản phẩm của Đào Hoàng Hải - Template HTML được copy trên mạng =))
        </p>
      </div>
    </header>
    <div class="container-fluid">
      <main class="tm-main">
        <!-- Search form -->
        <div class="row tm-row">
          <% if (getUser) { %>
          <div class="col-1 avatar-user">
            <div class="circular">
              <img class="avatar-user" src="<%= getUser.avatar %>" alt="" />
            </div>
          </div>
          <div id="user-content" class="col-3">
            <div>
              <span>Xin chào <a href="#"><%= getUser.username %></a></span>
            </div>
            <div>
              <div id="user-log-out">
                <span><a href="/auth/log-out">Log out</a></span>
              </div>
            </div>
          </div>
          <% } else { %>
          <div id="user-content" class="col-4">
            Xin chào bạn đọc, <a href="/sign-in">đăng nhập</a>/<a
              href="/sign-up"
              >đăng kí</a
            >
            để viết bài và tương tác với các thành viên nhé!
          </div>
          <% } %>
          <div class="col-8">
            <form method="GET" class="form-inline tm-mb-80 tm-search-form">
              <input
                id="findInput"
                class="form-control tm-search-input"
                name="query"
                type="text"
                placeholder="Tìm kiếm..."
                aria-label="Search"
              />
              <button class="tm-search-button" type="submit">
                <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="row tm-row">
          <div class="col-12">
            <img
              style="text-align: center; width: 50%"
              src="<%= getSinglePost.featuredImage %>"
              alt=""
            />
            <hr class="tm-hr-primary tm-mb-55" />
          </div>
        </div>
        <div class="row tm-row">
          <div class="col-lg-8 tm-post-col">
            <div class="tm-post-full">
              <div class="mb-4">
                <h2 class="pt-2 tm-color-primary tm-post-title">
                  <%= getSinglePost.title %>
                </h2>
                <p class="tm-mb-40">
                  <%= formatDate(getSinglePost.updatedAt) %> posted by Hai Hoang
                </p>
                <div>
                  <p
                    id="contentSinglePost"
                    data-content="<%= getSinglePost._id %>"
                  ></p>
                </div>
              </div>

              <!-- Comments -->
              <div>
                <h2 class="tm-color-primary tm-post-title">Comments</h2>
                <hr class="tm-hr-primary tm-mb-45" />
                <% getSinglePost.comments.map((item) => { %>
                <div class="row tm-comment tm-mb-45">
                  <div class="col-2">
                    <figure class="tm-comment-figure">
                      <div class="circular">
                        <img
                          src="<%= item.owner.avatar %>"
                          alt="Image"
                          class="avatar-user"
                        />
                      </div>
                      <figcaption class="tm-color-primary text-center">
                        <%= item.owner.username %>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="col-10">
                    <p><%= item.content %></p>
                    <div class="d-flex justify-content-between"> 
                      <a
                        style="color: #007bff; cursor: pointer"
                        class="tm-color-primary replyComment-a-tag"
                        <% if (!getUser) { %>
                            href = "/sign-in"
                        <% } %>
                        >REPLY</a
                      >
                      <span class="tm-color-primary"
                        ><%= formatDate(item.createdAt)%></span
                      >
                    </div>
                  </div>
                  <div class="col-12 replyComment-div-tag d-none">
                    <textarea
                      data-idComment="<%= item._id %>"
                      class="replyComment"
                      cols="70%"
                      rows="10"
                    ></textarea>
                    <button onclick=addReplyComment.call(this) id="submitReplyComment" class="btn btn-primary disabled">Reply</button>
                    <button class="btn btn-light cancel-reply">Cancel</button>
                  </div>      
                </div>
                <% item.replyComment.map((item2) =>{ %>
                <div class="row tm-comment-reply tm-mb-45">
                  <div class="col-12"><hr /></div>
                  <div class="col-2">
                    <figure class="tm-comment-figure">
                      <div class="circular">
                        <img
                          src="<%= item2.owner.avatar %>"
                          alt="Image"
                          class="avatar-user"
                        />
                      </div>
                      <figcaption class="tm-color-primary text-center">
                        <%= item2.owner.username %>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="col-10">
                    <p><%= item2.content %></p>
                    <div class="d-flex justify-content-between"> 
                        <a
                            <% if (!getUser) { %>
                                href = "/sign-in"
                            <% } %>
                          style="color: #007bff; cursor: pointer"
                          class="tm-color-primary replyComment-a-tag"
                          >REPLY</a
                        >
                        <span class="tm-color-primary"
                          ><%= formatDate(item.createdAt)%></span
                        >
                    </div>
                  </div>
                  <div class="col-12 replyComment-div-tag d-none">
                    <textarea
                      data-id="<%= item._id  %>"
                      class="replyComment"
                      cols="70%"
                      rows="10"
                    ></textarea>
                    <button onclick=addReplyComment.call(this) id="submitReplyComment" class="btn btn-primary disabled">Reply</button>
                    <button class="btn btn-light cancel-reply">Cancel</button>
                  </div>      
                </div>
                <% }) %>
                <hr style="border: 1px solid #6675df" />
                <% }) %>
                <!--    ///
-->
                <% if (getUser) { %>
                <div>
                  <h2 class="userComment tm-color-primary tm-post-title mb-4">
                    Write a comment
                  </h2>
                  <textarea
                    placeholder="Write some comments..."
                    data-id="<%= getUser._id %>"
                    class="userComment commentContent"
                    name="content"
                    id="ckeditor"
                    cols="70%"
                    rows="10"
                  ></textarea>
                  <button
                    id="submitComment"
                    onclick="addComment()"
                    class="userComment btn btn-primary"
                  >
                    Gửi bình luận
                  </button>
                </div>
                <% } else { %>
                <a href="/sign-in">
                  <div class="card">
                    <div class="card-body">
                      <span style="color: #999">Đăng nhập để bình luận.</span>
                    </div>
                  </div>
                </a>
                <% } %>
              </div>
            </div>
          </div>
          <aside class="col-lg-4 tm-aside-col">
            <div class="tm-post-sidebar">
              <hr class="mb-3 tm-hr-primary" />
              <h2 class="mb-4 tm-post-title tm-color-primary">Thể loại</h2>
              <% getCategory.map((item) => { %>
                <ul class="tm-mb-75 pl-5 tm-category-list">
                    <li><a href="#" class="tm-color-primary"><%= item.name %></a></li>
                </ul>
              <% }) %>
              <hr class="mb-3 tm-hr-primary" />
              <h2 class="tm-mb-40 tm-post-title tm-color-primary">
                Related Posts
              </h2>
              <a href="#" class="d-block tm-mb-40">
                <figure>
                  <img src="" alt="Image" class="mb-3 img-fluid" />
                  <figcaption class="tm-color-primary">
                    Duis mollis diam nec ex viverra scelerisque a sit
                  </figcaption>
                </figure>
              </a>
              <a href="#" class="d-block tm-mb-40">
                <figure>
                  <img src="" alt="Image" class="mb-3 img-fluid" />
                  <figcaption class="tm-color-primary">
                    Integer quis lectus eget justo ullamcorper ullamcorper
                  </figcaption>
                </figure>
              </a>
              <a href="#" class="d-block tm-mb-40">
                <figure>
                  <img src="" alt="Image" class="mb-3 img-fluid" />
                  <figcaption class="tm-color-primary">
                    Nam lobortis nunc sed faucibus commodo
                  </figcaption>
                </figure>
              </a>
            </div>
          </aside>
        </div>
        <footer class="row tm-row">
          <div class="col-md-6 col-12 tm-color-gray">
            Design:
            <a
              rel="nofollow"
              target="_parent"
              href="https://templatemo.com"
              class="tm-external-link"
              >TemplateMo</a
            >
          </div>
          <div class="col-md-6 col-12 tm-color-gray tm-copyright">
            Copyright 2020 Xtra Blog Company Co. Ltd.
          </div>
        </footer>
      </main>
    </div>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/templatemo-script.js"></script>
    <script src="/public/js/myUpload.js"></script>
    <script>
      // gọi ajax đổ content cho bài viết
      function getContent() {
        $.ajax({
          url: "/post/content/" + $("#contentSinglePost").attr("data-content"),
          method: "get",
        })
          .then((data) => {
            $("#contentSinglePost").html(data.data.content);
          })
          .catch((error) => {
            console.log(error);
          });
      }
      getContent();
      // add cmt to post
      function addComment() {
          if ($("#ckeditor").val().length >0) {
            $.ajax({
          url: "/post/addComment",
          method: "post",
          data: {
            owner: $("#ckeditor").attr("data-id"),
            content: $("#ckeditor").val(),
            idPost: $("#contentSinglePost").attr("data-content"),
          },
        })
          .then((data) => {
            window.location.reload();
          })
          .catch((error) => {
            console.log(error);
          });
          } else {
              alert('Hãy nhập gì đó...')
          }
      };
      // add reply cmt to post
      $('.replyComment').change(() => {
          $('#submitReplyComment').removeClass('disabled')
      });
      function addReplyComment() {
          let content = $(this).parent().find('textarea').val();
            $.ajax({
          url: "/post/addReplyComment",
          method: "post",
          data: {
            owner: $("#ckeditor").attr("data-id"),
            content: content,
            idComment: $(".replyComment").attr("data-idcomment"),
          },
        })
          .then((data) => {
            window.location.reload();
          })
          .catch((error) => {
            console.log(error);
          });
       }
      //
      $(".replyComment-a-tag").click(function () {
        $(this).parent().parent().parent().find('div').removeClass("d-none"); 
      });
      $(".cancel-reply").click(function () {
        $(this).parent().addClass("d-none");
      });
    </script>
  </body>
</html>
