#findInput {
    margin-right: 1%;
}
.avatar-user {
    width: 10rem; 
    max-width: 100%;
    vertical-align: middle;
    border-radius: 50%;
    object-fit: cover;
    
}
.postComment {
    border-radius: 3px;
    background-color: #fff;
}
.userComment {
    margin-top: 2%;
}
.replyComment{
    resize: none;
    height: 7rem;
}

.replyComment{
    resize: none;
    height: 7rem;
}
#submitComment,.card {
    margin-bottom: 5%;
}
.circular {
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .circular img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  };
  .replyComment-a-tag {
    cursor:pointer;
   }
   .replyComment-div-tag {
       padding-top: 3%;
   }